/* =========================
   Pixelify Sans
========================= */
@font-face {
  font-family: 'Pixelify Sans';
  src: url('@/assets/fonts/Pixelify_Sans/PixelifySans-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('@/assets/fonts/Pixelify_Sans/PixelifySans-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* =========================
   Prompt
========================= */
@font-face {
  font-family: 'Prompt';
  src: url('@/assets/fonts/Prompt/Prompt-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('@/assets/fonts/Prompt/Prompt-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('@/assets/fonts/Prompt/Prompt-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
