/* src/style.css */

/* ตัวอย่าง: ถ้าไฟล์ชื่อ NotoSans-Regular.ttf */
/* @font-face {
    font-family: 'Noto Sans';
    src: url('./assets/fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixelify Sans';
    src: url('./assets/fonts/Pixelify_Sans/PixelifySans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'Prompt';
    src: url('./assets/fonts/Prompt/Prompt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* นำมาใช้งาน */
html,
body,
#app {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Prompt', sans-serif;
    color: #000000;
}